/* ======================== IMPORTAÇÕES ======================== */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/* ======================== RESET GERAL ======================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ======================== CABEÇALHO E MENU ======================== */
header {

}
header > picture > img {

}
header> h2 {
    text-align: center;
}
nav {
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 10px;
    height: 17vh;
    background-image: linear-gradient(to bottom,#000000d8 5%,transparent);

}

nav#menu > a {
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 15px;
    box-sizing: border-box;
    min-width: 150px; 
    min-height: 50px;
    text-align: center;
    transition:  0.4s;
}
nav#menu a:hover{
    font-size: 1.3em;
    border: 2px solid white;
    background-color: rgba(245, 245, 245, 0.247);
    font-weight: normal;

}

/* ======================== SEÇÃO VIAGENS ======================== */
section#Viagens {
    background-color: white;
    color: black;
    padding: 15px;

}

section#Viagens > h2 {
    background-color: #001542;
    color: white;
    padding: 15px;
    font-size: 2em;
}

section#ny,
#Roma {
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#ny>a:hover{
    padding: 0px;
    font-weight: normal;
}

section#Roma {
    text-align: center;
}
button#desny{
    background-image: url("Imagens/Nova\ York.butaojpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    image-rendering: auto;
}
button#descr{
    background-image: url("Imagens/coliseuderomabutao.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
button#desfc{
    background-image: url("imagensbutton/françabutton.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.des{
    width: 80vw;
    height: 50vh;
    transition: all 0.5s;
    margin: 10px;
}
.des:hover{
    width: 82vw;
    height: 52vh;
}


/* ======================== SEÇÃO PASSAGENS ======================== */
section#Passagens {
    height: 30vh;
    background-image: linear-gradient(to right,#103778, #001542);
    display: flex;
    justify-content: center;
    align-items: center;
}
form>.passg{
   display: flex;
   width: 80vw;
   padding: 25px;
   justify-content: space-evenly;
   background-color: white;
   border-radius: 15px;
}
div#origem,#destino,#idavolta{
    display: flex;
    flex-direction: column;
}
select,input#datas{
    width: 300px;
    padding: 10px;
    margin: 3px;
    transition: 0.3s;
    border-radius: 20px;
    background-color: #00000011;
    border: solid 1px #00000046;
    text-align: left;
    font-size:18px;
    font-family: "Noto Sans", sans-serif;
    outline: none;

}
select:hover{
    font-size: 21px;
    width: 350px;
}

input#datas:hover{
    font-size: 21px;
    width: 350px;
}
::placeholder{
    color: black;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
    transition: 0.2s;
    transition-timing-function: ease-in;
    background-color: #01226b;
}
button:hover{
    width: 55px;
    height: 55px;
}
button:hover>img{
    width: 40px;
}
div#button{
    padding-left: 10px;
}
button>img{
    transition: 0.2s;
    width: 35px;
}


/* ======================== SEÇÃO FAMÍLIA ======================== */
section#Familia {
    background-color: white;
    color: black;
    padding: 20px;
    
}

section#Familia > h2 {
    background-color: #001542;
    color: white;
    padding: 15px;
    font-size: 2em;
}

section#family {
    padding: 20px;
    margin: 10px;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
section#family2{
    padding: 20px;
    margin: 10px;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.family1{
    width: 50vw;
    height: 70vh;
    display: flex;
    align-items: center;
    margin: 20px;
}

img#imgfamily{
    width: 112%;
    height: 95%;
    border-radius: 25px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.952);
}

/* ======================== SEÇÃO PLANOS ======================== */
section#Planos {
    background-color: white;
    color: black;
    padding: 20px;
}

section#Planos > h2 {
    background-color: #022164;
    color: white;
    padding: 15px;
    font-size: 2em;
}

section#planos2 {
    border-radius: 12px;
    box-shadow: inset 7px 19px 116px rgba(0, 0, 0, 0.199);
    padding: 20px;
    margin: 10px;
}

section#planos2 > p {
    font-size: 1.3em;
    text-align: left;
}

/* ======================== PLANOS OPCIONAIS ======================== */
section#planosOpc {
    background-color: #0E2780;
    display: flex;
    justify-content: center;
    height: 102vh;
}
.planosfic{
    border: 5px solid white;
    border-radius: 50px;
    background-image: linear-gradient(to left,#033E8C,#0E2780);
    margin: 20px;
    width: 50vw;
    height: 95vh;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}
.planosfic>picture>img{
    width: 300px;
    border-radius: 15px;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
} 
.planosfic>h3{
    text-align: center;
    color: white;
}
.planosfic:hover{
    width: 51vw;
    height: 96vh;
    background-image: linear-gradient(to right,#033E8C,#0E2780);
}
.planosfic:hover img{
    width: 310px;
}
.planosfic:hover ul{
    margin-left: 10%;
     transition: all 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}
.planosfic:hover li{
    font-size: 20px;
    padding: 7px;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
}
ul{
    list-style-position: inside;
    margin: 30px;
    margin-left: 12%;
}
li{
    font-size: 1.2em;
    padding: 5px 0;
    font-family: "Noto Sans", sans-serif;
    color: white;
    text-align: justify;

}

/* ======================== SEÇÃO PROMOÇÃO ======================== */
section#Promo {
    background-image: linear-gradient(to right,#103778,#062252, #001542);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section#Promo > div#textpromo2 > h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
}
div#textpromo2{
    width: 800px;
    border-radius: 15px;
    margin-left: 5%;
}
div#textpromo{
    width: 70vw;
    margin: auto;
}
div#textpromo ul li {
    color: #f7f7f7;
    border-radius: 12px;
    padding: 15px;
    margin: 20px;
}
div#textpromo>ul>li{
    font-size: 1.3em;
}
/* ======================== TEXTOS ======================== */
.textp {
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 20px;
    line-height: 22px;
}

p#leg {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-size: 1.4em;
    line-height: 35px;
    border-radius: 12px;
    width: 600px;
    padding: 20px;
    margin-right: 20px;
}

/* ======================== TÍTULOS ======================== */
h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 2.3em;
    font-family: "Heebo", sans-serif;
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

/* ======================== LINKS ======================== */
a {
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
    padding: 12px;
}

a#pass {
    color: white;
    font-size: 1.5em;
    background-color: #164773;
    border-radius: 12px;
    padding: 5px;
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a#pass:hover {
    font-weight: 600;
    background-color: #003461;
    padding: 7px;
}

a#logo {
    padding: 0px;
    margin: 0px;
}

/* ======================== ELEMENTOS GERAIS ======================== */
picture {
    display: flex;
    justify-content: center;
}

/* ======================== RESPONSIVIDADE ======================== */
@media (max-width: 768px) {
    header{
        height: 120vh;
    }
    header>picture>img{
        width: 485px;
    }
    nav#menu{
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.788),transparent);
        height: 30vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    nav#menu a{
        padding: 10px;
        margin: auto;
        width: 150px;
        height: 30px;
    }
    section#family{
        flex-direction: column-reverse;
        height: 140vh;
    }
    
    section#family2{
        flex-direction: column;
        height: 140vh;
    }
    .family1{
        width: 90vw;
        height: 70vh;
    }
    img#imgfamily{
        width: 100%;
        height: 70%;
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.952);

    }
    section#Promo{
        flex-direction: column;
        height: 120vh;
    }
    div#textpromo2{
        width: 400px;
        margin: auto;
    }  
    section#Promo > div#textpromo2 > h2 {
        color: white;
        font-size: 2em;
        text-align: center;
        padding: 20px;
    }
    div#textpromo{
        width: 95vw;
        margin: auto;
    }
    div#textpromo>ul>li{
        font-size: 1.2em;
        color: #f7f7f7;
        margin: 20px;
    }
    section#family p#leg{
        font-size: 1.5em;
        line-height: 40px;
        padding: 20px;
    }
    
    section#family2 p#leg{
        font-size: 1.5em;
        line-height: 40px;
        padding: 20px;
    }
    section#planosOpc{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300vh;
    }
    .planosfic{
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 100vh;
    }
    form>.passg{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 60vh;
        width: 70vw;
    }
    form>.passg>div#enli{
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
    select,input#datas{
        width: 295px;
        transition: 0.1s;
    }
    select:hover{
        width: 311px;
    }
    input#datas:hover{
        width: 311px;
    }
    button{
        width: 99%;
    }
    button:hover{
        width: 100%;
    }
    button>img:hover{
        width: 37px;
    }
    section#Passagens{
        height: 70vh;
    }
    button#desny{
        background-size: cover;

    }
    .des{
        background-size: cover;
        height: 30vh;
    }
    .des:hover{
        height: 32vh;
    }
    
ul{
    list-style-position: inside;
    margin: 15px;
    margin-left: 10%;
}
li{
    font-size: 1.3em;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;

}

.infodestino li{
    font-size: 1.3em;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
}

.planosfic:hover{
    width: 71vw;
    height: 96vh;
    border: 10px solid white;
    box-shadow: inset 3px 5px 90px rgba(245, 245, 245, 0.048);

}
.planosfic:hover img{
    width: 308px;
}
.planosfic:hover ul{
    margin-left: 10%;
     transition: all 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}
.planosfic:hover li{
    font-size: 20px;
    padding: 7px;
    transition: all 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
}
}